.i-site {
  @extend .fa;
  @extend .fa-globe;
}

.i-medium {
  @extend .fa;
  @extend .fa-medium;
}

.i-github {
  @extend .fa;
  @extend .fa-github;
}

.i-linkedin {
  @extend .fa;
  @extend .fa-linkedin;
}

.i-email {
  @extend .fa;
  @extend .fa-envelope-o;
}

.i-phone {
  @extend .fa;
  @extend .fa-phone;
}

.i-skype {
  @extend .fa;
  @extend .fa-skype;
}

.i-start {
  @extend .fa;
  @extend .fa-hourglass-start;
}

.i-end {
  @extend .fa;
  @extend .fa-hourglass-end;
}

.i-fill {
  @extend .fa;
  @extend .fa-circle;
  color: $colour-3;

  @media print {
    color: #222 !important;
    -webkit-print-color-adjust: exact;
  }
}

.i-nfill {
  @extend .fa;
  @extend .fa-circle;
  color: #eee;

  @media print {
    color: #eee !important;
    -webkit-print-color-adjust: exact;
  }
}
