.xp {
  .fa {
    padding-left: 2px;
    font-size: 80%;

    @media screen and (max-width: 39.9375em) {
      padding-right: 5px;
      padding-left: 0px;
      padding-top: .35rem;
      float: left;
    }
  }
  .fill {
    color: $colour-3;
  }

  .empty {
    color: #eee;
  }

  @media screen and (max-width: 39.9375em) {
    li {
      font-size: 1.15rem;
    }
  }
}
