// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

li {
  list-style: none;
  line-height: 1.8;
}

address {
  margin-bottom: 1rem;
}

.sidebar-left {
  @extend .columns;
  @extend .large-3;
  @extend .medium-4;
  @extend .small-12;

  text-align: right;

  @media screen and (max-width: 39.9375em) {
    text-align: left;
  }
}

.sidebar-right {
  @extend .columns;
  @extend .large-9;
  @extend .medium-8;
  @extend .small-12;
  margin-top: 1rem;
  text-align: left;

  h4 {
    font-size: 1.25rem;
  }

  article {
    @extend .row;
  }

  .date {
    @extend .columns;
    @extend .large-1;

    font-size: 80%;
    margin-top: .25rem;
    font-weight: 600;
  }

  .date-without-title {
    @extend .date;
    margin-top: 0;
  }

  content {
    @extend .columns;
    @extend .large-11;

    .only-p {

    }
  }
}
