@media print {
  li {
    line-height: 1.5;
  }
  
  .xp {
    .fill {
      color: #000 !important;
      -webkit-print-color-adjust: exact;
    }

    .empty {
      color: #eee !important;
      -webkit-print-color-adjust: exact;
    }
  }
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .sidebar-right {
    margin-top: .25rem;
  }

  .sidebar-right h4 {
    font-size: 1rem;
  }

  .sidebar-right content {
    padding-left: 20px;
  }

  .xp {
    .fa {
      font-size: 70%;
    }
  }

  a[href]:after {
    content: none !important;
  }

  .fa {
    font-size: 70%;
  }

  .large-1 {
    width: 8.33333%;
  }

  .large-2 {
    width: 16.66667%;
  }

  .large-3 {
    width: 25%;
  }

  .large-4 {
    width: 33.33333%;
  }

  .large-5 {
    width: 41.66667%;
  }

  .large-6 {
    width: 50%;
  }

  .large-7 {
    width: 58.33333%;
  }

  .large-8 {
    width: 66.66667%;
  }

  .large-9 {
    width: 75%;
  }

  .large-10 {
    width: 83.33333%;
  }

  .large-11 {
    width: 91.66667%;
  }

  .large-12 {
    width: 100%;
  }
}
