@charset 'utf-8';
// @import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Assistant:300,400,700|Catamaran:300,400,700';

@import '../../node_modules/foundation-sites/scss/foundation';
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-pagination;

@import '../../node_modules/font-awesome/scss/font-awesome';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
// @import
//   'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button',
  'components/xp';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default',
  'themes/print';
